@use '../utils';

$themes: (
  light: (
    color-background: utils.$lt-mode-bg,
    color-text: utils.$very-dark-grey,
  ),
  dark: (
    color-background: utils.$very-dark-grey,
    color-text: utils.$white,
  ),
);
