@use './variables';

@mixin theme($name, $color, $secondary) {  
  .#{$name} {
    background-color: $color;    
    .theme--control {
      &:hover,
      &:focus {
        cursor: pointer;
        outline: dashed $secondary;
        outline-offset: 0.25em;
      }
    }

    .app__title,
    .user__name,
    .mode__state,
    .data__value {
      color: $secondary;
    }
    .search__user,
    .card {
      background-color: #1e2a47;
      color: $secondary;
    }

    .table__data {
      background-color: $color;
    }

    .address--link {
      color: variables.$white;
      outline: none;

      &:hover,
      &:focus {
        cursor: pointer;
        outline: dashed $secondary;
        outline-offset: 0.25em;
      }
    }
  }
}

@include theme(theme-light, variables.$lt-mode-bg, variables.$very-dark-grey);
@include theme(theme-dark, variables.$very-dark-grey, variables.$white);
