$white: hsl(0, 0%, 100%);
$lt_mode-bg: #f6f8ff;
$off-white: #fefefe;
$lt-grey: hsl(227, 100%, 98%);
$mid-grey: hsl(217, 20%, 61%);
$dark-grey: hsl(217, 35%, 45%);
$very-dark-grey: #2b3442;
$blue: hsl(212, 100%, 50%)

