@use '../base';
@use '../utils';

.card {
  margin: 1rem auto;
  background-color: utils.$white;
  border-radius: 15px;
}

.card__profile {
  display: flex;
  gap: 1.5rem;
  padding: 2rem 1rem;
  @media screen and (min-width: 60rem) {
    gap: 2.5rem;
  }
}

.profile__card__details {
  flex: 1 1 60%;
  @media screen and (min-width: 60rem) {
    display: grid;
    grid-template-columns: 3fr 2fr;
  }
}

.card__profile__img {
  //width: 18.7%;
  max-width: 70px;
  border-radius: 50%;

  @media screen and (min-width: 38.75rem) {
    max-width: 200px;
    width: 20%;
  }
}

.user__name {
  font-size: utils.calculateRem(16);
  color: utils.$very-dark-grey;
  @media screen and (min-width: 38.75rem) {
    font-size: utils.calculateRem(26);
    line-height: 0.7;
  }
}

.user__handle,
.user__joined {
  font-size: utils.calculateRem(13);
}

.user__handle {
  color: #0079ff;
  @media screen and (min-width: 38.75rem) {
    font-size: utils.calculateRem(16);
  }
}

.user__joined {
  color: utils.$mid-grey;
  @media screen and (min-width: 38.75rem) {
    font-size: utils.calculateRem(15);
  }
  @media screen and (min-width: 60rem) {
    grid-area: 1/2;
  }
}

.no__bio {
  opacity: 0.4;
}

.extra__content {
  color: utils.$mid-grey;
  padding: 0 1rem;
  font-size: utils.calculateRem(13);
  line-height: 1.8;
  @media screen and (min-width: 38.75rem) {
    font-size: utils.calculateRem(16);
  }

  @media screen and (min-width: 60rem) {
    padding: 1rem;
    max-width: 32rem;
    margin-right: 2rem;
    margin-left: auto;
  }
}

.card__table {
  padding: 1rem;
  @media screen and (min-width: 60rem) {
    padding: 1rem;
    max-width: 32rem;
    margin-right: 2rem;
    margin-left: auto;
  }
}

.table__data {
  display: flex;
  justify-content: space-between;
  background-color: utils.$lt_mode-bg;
  padding: 1rem;
  border-radius: 15px;
}

.address__list {
  padding: 1rem;
  @media screen and (min-width: 60rem) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
    max-width: 32rem;
    margin-right: 2rem;
    margin-left: auto;
  }
}

.twitter {
  @media screen and (min-width: 60rem) {
	grid-area: 1/2;
  }
}

.location,
.blog,
.twitter,
.company__details {
  display: flex;
  gap: 1.5rem;
}
.address__list__item {
  margin-bottom: 1.5rem;
}
.address__list__img {
  align-self: center;
}

.data__heading {
  font-size: utils.calculateRem(11);
  @media screen and (min-width: 38.75rem) {
    font-size: utils.calculateRem(13);
  }
}

.data__value {
  font-size: utils.calculateRem(16);
  font-weight: 700;
  color: utils.$very-dark-grey;
  @media screen and (min-width: 38.75rem) {
    font-size: utils.calculateRem(22);
  }
}

.address--link {
  color: utils.$dark-grey;
  outline: none;
  &:hover,
  &:focus {
    cursor: pointer;
    outline: dashed currentColor;
    outline-offset: 0.25em;
  }
}

.err {
  position: absolute;
  left: 40%;
  top: 0;
  font-size: 14px;
  color: #f74646;
  display: none;
}

.err__show {
  display: block;
}
