@use '../base';
@use '../utils';
.header {
  //padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.light__mode {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.app__title {
  font-size: utils.calculateRem(26);
  color: #222731;
  font-weight: 700;
}

.mode__state {
  font-size: utils.calculateRem(13);
  color: #4b6a9b;
  font-weight: 700;
  letter-spacing: 2.5px;
}

.theme--control {
  background-color: transparent;
  border: none;
  outline: none;

  &:hover,
  &:focus {
    cursor: pointer;
    outline: dashed currentColor;
    outline-offset: 0.25em;
  }
  
}
